html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    background-color: hsl(234, 29%, 20%);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

html, body, .newsletter, .page, .page-wrapper, .newsletter-inner {
    width: 100%;
    height: 100%;
}

.newsletter {
    background-color: #fff;
}

.newsletter-success {
    display: none;
}

.newsletter-media img {
    width: 100%;
}

.newsletter-content {
    padding: 20px;
}
.newsletter-title {
    font-size: 40px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    margin-top: 20px;
    margin-bottom: 24px;
}

.newsletter-content p {
    max-width: 90%;
}

.newsletter-content ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 24px 0 48px;
    max-width: 80%;
}

.newsletter-content li {
    display: flex;
    gap: 20px;
    align-items: start;

}

.newsletter-content li img {
    width: 24px;
}

.newsletter-form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.newsletter-form .label {
    font-size: 12px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.newsletter-form .error-message {
    font-size: 12px;
    font-weight: 700;
    color: hsl(4, 100%, 67%);
    position: absolute;
    right: 0;
    display: none;
}

.newsletter-form.error .error-message {
    display: block;
}

.newsletter-form .form-control {
    display: flex;
    flex-direction: column;
}

.newsletter-form .input {
    margin-top: 4px;
    margin-bottom: 16px;
    height: 40px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid hsl(231, 7%, 60%);
}

.newsletter-form.error .input {
    border-color: hsl(4, 100%, 67%);
}

.newsletter-form .btn {
    width: 100%;
    height: 40px;
    border: 1px solid hsl(234, 29%, 20%);
    background-color: hsl(234, 29%, 20%);
    color: #fff;
    border-radius: 4px;
}


@media screen and (min-width: 1440px) {
    .page-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsletter {
        max-width: 800px;
        max-height: 536px;
        border-radius: 16px;
        overflow: hidden;
        padding: 16px;
    }
    .newsletter-inner {
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
    }

    .newsletter-content p, .newsletter-content ul {
        max-width: 100%;
    }
}